body,
p {
  margin: 0;
}
.blockMain {
  background-position: 50% 50%;
  width: 100%;
  height: 785px;
  object-fit: cover;
  background-size: cover;
  background-image: url("https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/ae4462f2c5695f6b8864d081/front-view-kid-wearing-party-hat_23-2149477945.jpeg");
}
.blockAAA {
  background-color: #ffffffff;
  height: 387px;
  width: 714px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  top: 300px;
}
.blockBirthday {
  margin: 44px 0 0 99px;
  padding-top: 30px;
  font-size: 6rem;
  color: #f1c50e;
  font-family: Lobster;
  font-weight: 100;
}
.Btext {
  margin: 0 92px 0 99px;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}
.link {
  margin: 32px 92px 0 99px;
  font-family: Open Sans, sans-serif;
}
.blockWWD {
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/e488fd2c86fc54058cb04108/Untitled-1.jpg);
  background-position: 50% 0%;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  min-height: 505px;
}
.blockIconsEmoji {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.blockwwdtext {
  color: rgb(17, 17, 17);
  font-family: Lobster, display;
  font-size: 48px;
  font-weight: 700;
  margin-top: 70px;
}
.blockgirl {
  width: 277px;
  height: 282px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.blockimggirl {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  padding: 0px;
}
.blocktextgirl {
  font-weight: 500;
  font-size: 20px;
  margin: 30px auto 0;
  font-family: Montserrat, sans-serif;
}
.blockminitextgirl {
  margin: 20px 0 0;
  font-family: Open Sans, sans-serif;
  text-align: center;
  width: 257.5px;
}
.blockpeople {
  background-color: #fef9e6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blockAllPeople {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  align-content: center;
  max-width: 1525px;
  margin: 40px;
}
.blockteampeople {
  padding: 30px 0;
  width: 360px;
  height: 445px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blockimgpeople {
  width: 257px;
  height: 257px;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
  background-position: 98% 50%;
  background-image: url("https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/04ee3ddda8d95834bb92e570/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
}
.blockImgMike {
  width: 257px;
  height: 257px;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
  background-position: 100% 50%;
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/861162f869e650e0b7798f66/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg);
}
.blockImgNatasha {
  width: 257px;
  height: 257px;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
  background-position: 50% 50%;
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/ec8c600040e354359214d93e/pexels-gustavo-fring-3983570.jpg);
}
.blockImgSteve {
  width: 257px;
  height: 257px;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
  background-position: 0% 50%;
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/aa992c2ac381589d9df42a92/portrait-cheerful-handsome-bearded-guy-with-fashionable-hairstyle-smiling1.jpg);
}
.blockImgMary {
  width: 257px;
  height: 257px;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
  background-position: 99% 50%;
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/572af275b87a559d93b354c8/travel-agent-hearing-customer-desires-portrait-good-looking-european-businesswoman-blue-blouse-glasses-holding-hands-pockets-smiling-being-friendl.jpg);
}
.blockpeopletext {
  font-size: 24px;
  font-weight: 700;
  height: 28px;
  margin: 30px auto 0;
  font-family: Montserrat, sans-serif;
  color: #f1c50e;
  text-align: center;
}
.blockpeopleminitext {
  width: 151px;
  height: 25px;
  font-family: Montserrat, sans-serif;
  font-style: italic;
  margin: 20px auto 0;
  text-align: center;
}
.blockinst {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
  background-size: cover;
  object-fit: cover;
  background-position: 50%;
  background-image: url(https://cdns.iconmonstr.com/wp-content/releases/preview/2016/240/iconmonstr-instagram-11.png);
  cursor: pointer;
}
.bigtext {
  width: 300px;
  height: 230px;
  margin: 20px auto 0;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  line-height: 1.5;
}
.secondlink {
  color: #f1c50e;
  text-decoration: none;
}
.secondlink:hover {
  cursor: pointer;
  color: #d9b10d;
}
.blockpointer {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
  background-size: cover;
  object-fit: cover;
  background-position: 50%;
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/ac179b0d2c1f5fd39f381b5a/545682.png);
}
.blockGallery {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blockGalleryImg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1525px;
  margin: 40px;
}
.blockPicture {
  width: 352px;
  height: 352px;
}
.blockImgOne {
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/6e0c819d05715066815ff268/excited-kids-releasing-balloons-party_23-2147897597.jpeg);
  width: 352px;
  height: 352px;
  background-size: cover;
  object-fit: cover;
  background-position: 50%;
  cursor: pointer;
}
.blockImgTwo {
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/d4d6db7c76605ee6896bf1df/children-celebrating-birthday.jpg);
  width: 352px;
  height: 352px;
  background-size: cover;
  object-fit: cover;
  background-position: 50%;
  cursor: pointer;
}
.blockImgThree {
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/7f9710e1ece658cb989a1f77/children-colored-caps-playing_23-2147807858.jpeg);
  width: 352px;
  height: 352px;
  background-size: cover;
  object-fit: cover;
  background-position: 50%;
  cursor: pointer;
}
.blockImgFour {
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/acc161c1fe315c0a9625860c/crop-woman-putting-napkin-girl_23-2147783721.jpeg);
  width: 352px;
  height: 352px;
  background-size: cover;
  object-fit: cover;
  background-position: 50%;
  cursor: pointer;
}
.blockImgFive {
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/47ac0bcd0a96500284b91508/1701344_medium2000.png);
  width: 352px;
  height: 352px;
  background-size: cover;
  object-fit: cover;
  background-position: 50%;
  cursor: pointer;
}
.blockImgSix {
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/ce44e13b52ee5eec9d8826e4/2050938_medium2000.jpg);
  width: 352px;
  height: 352px;
  background-size: cover;
  object-fit: cover;
  background-position: 50%;
  cursor: pointer;
}
.blockFreepik {
  margin: 43px auto 0;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
.blockButton {
  margin: 36px auto 60px;
  background-color: #f1c50e;
  padding: 16px 46px 17px;
  letter-spacing: 3px;
  border-radius: 50px;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  border: none;
}
.blockButton:hover {
  cursor: pointer;
  background-color: black;
  color: #ffffff;
}
.blockCallMe {
  background-color: #f1c50e;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blockMainCallMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockCallMeText {
  color: rgb(17, 17, 17);
  font-family: Lobster, display;
  font-size: 48px;
  font-weight: 300;
  margin-top: 70px;
}
.blockCallMeMiniText {
  margin: 20px auto 0;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
.blockButtonSecond {
  background-color: #ffffff;
  margin: 30px auto 60px;
  padding: 17px 74px 18px 72px;
  border-radius: 50px;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  border: none;
}
.blockButtonSecond:hover {
  cursor: pointer;
  color: #111111;
  background-color: #e6e6e6;
}
.blockTools {
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/e488fd2c86fc54058cb04108/Untitled-1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 505px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.blockToolsEmoji {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
}
.blockPickMeTools {
  width: 424px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.blockImgTools {
  width: 103px;
  height: 103px;
}
.blockTextTools {
  font-weight: 500;
  font-size: 20px;
  margin: 30px auto 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
.blockMiniTextTools {
  margin-top: 20px;
  font-family: Open Sans, sans-serif;
  text-align: center;
}
.blockReviews {
  background-color: #fef9e6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blockParents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
  gap: 30px;
  max-width: 1525px;
}
.blockReviewsParents {
  width: 360px;
  height: 393px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blockImgParents {
  width: 83px;
  height: 83px;
  background-position: 50% 50%;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 108px 0 108px;
}
.blockTextParents {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blockMiniTextParents {
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  width: 300px;
  height: 102px;
  color: rgb(153, 153, 153);
  text-align: center;
  line-height: 25.6px;
}
.blockLine {
  width: 300px;
  height: 2px;
  background-color: rgb(241, 197, 14);
  margin-top: 30px;
}
.blockData {
  width: 300px;
  height: 22px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  color: rgb(153, 153, 153);
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}
.blockStat {
  width: 100%;
  background-color: #f1c50e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blockNum {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.blockCount {
  width: 365px;
  height: 239px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.blockBigNum {
  width: 365px;
  height: 72px;
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  margin: 0;
}
.blockTextNum {
  width: 365px;
  height: 24px;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  margin-top: 24px;
  margin-bottom: 16px;
}
.blockMiniTextNum {
  width: 365px;
  height: 25px;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
.blockStrelka {
  margin-top: 30px;
  background-size: cover;
  width: 48px;
  height: 48px;
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/ac179b0d2c1f5fd39f381b5a/545682.png);
}
.blockHappyGirl {
  background-position: 0% 44.93%;
  background-size: cover;
  min-height: 785px;
  width: 100%;
  height: 785px;
  object-fit: cover;
  background-image: url(https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/dd62a3120519558785ac677f/close-up-little-girl-having-fun-birthday-party_1098-1319.jpeg);
  background-repeat: no-repeat;
}
.blockHPGR {
  width: 100%;
  display: flex;
}
.blockEnter {
  background-color: #ffffffff;
  height: 387px;
  width: 714px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  margin: 327px 825px 60px 133px;
}
.blockSecondEnter {
  width: 534px;
  height: 330px;
  padding: 30px 40px 30px 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.blockTextEnter {
  width: 362px;
  height: 24px;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  margin: 0 172px 0 0;
}
.blockName {
  height: 73px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blockTextName {
  width: 45px;
  height: 22px;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
.blockMainEnter {
  background-color: #f2f2f2;
  border-radius: 50px;
  font-family: Open Sans, sans-serif;
  height: 47px;
  font-size: 16px;
  border-width: 1px;
  padding: 10px;
  border: 1px solid #b3b3b3;
}
.blockMainEnter:focus {
  outline: #b3b3b3;
}
.blockButtonSend {
  margin-bottom: 10px;
  width: 100%;
}
.blockSend {
  background-color: #f1c50e;
  border-radius: 50px;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  border: none;
  padding: 10px 30px 10px 30px;
}
.blockSend:hover {
  cursor: pointer;
  background-color: #d9b10d;
}
.blockFreepikSecond {
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
.blockEnd {
  width: 100%;
  height: 220px;
  color: #ffffff;
  background-color: #333333;
}
.blockFirstText {
  height: 22px;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  margin-top: 49px;
  margin-bottom: 49px;
}
.blockSecondText {
  font-size: 12.5px;
  font-family: Open Sans, sans-serif;
  margin-top: 40px;
}
.blockTextEnd {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockEndLink {
  color: rgb(173, 204, 233);
}
@media (max-width: 700px) {
  .blockEnter {
    width: 340px;
    margin-right: 0;
  }
  .blockAAA {
    width: 376px;
    height: 270px;
    top: 450px;
  }
  .blockBirthday {
    font-size: 72px;
    margin: 44px 0 0 0;
  }
  .Btext {
    font-size: 24px;
    margin: 12px 245px 0 0;
  }
  .link {
    font-size: 16px;
    margin: 26px 0 0;
  }
  .blockwwdtext {
    font-size: 24px;
  }
  .blockgirl {
    width: 340px;
    height: 248px;
  }
  .blockWWD {
    background-position: 88%;
  }
  .blockteampeople {
    width: 340px;
    height: 434px;
  }
  .blockimgpeople {
    width: 187px;
    height: 187px;
  }
  .blockImgMike {
    width: 187px;
    height: 187px;
  }
  .blockImgMary {
    width: 187px;
    height: 187px;
  }
  .blockImgNatasha {
    width: 187px;
    height: 187px;
  }
  .blockImgSteve {
    width: 187px;
    height: 187px;
  }
  .blockImgOne {
    width: 340px;
    height: 298px;
  }
  .blockImgTwo {
    width: 340px;
    height: 298px;
  }
  .blockImgThree {
    width: 340px;
    height: 298px;
  }
  .blockImgFour {
    width: 340px;
    height: 298px;
  }
  .blockImgFive {
    width: 340px;
    height: 298px;
  }
  .blockImgSix {
    width: 340px;
    height: 298px;
  }
  .blockPicture {
    width: 340px;
    height: 298px;
  }
  .blockinst {
    width: 50px;
    height: 50px;
  }
  .blockCallMeText {
    font-size: 24px;
  }
  .blockCallMeMiniText {
    font-size: 16px;
  }
  .blockCallMe {
    height: 282px;
  }
  .blockPickMeTools {
    width: 340px;
    height: 273px;
  }
  .blockTextTools {
    font-size: 20px;
  }
  .blockMiniTextTools {
    font-size: 16px;
  }
  .blockReviewsParents {
    width: 340px;
  }
  .blockBigNum {
    font-size: 48px;
    width: 320px;
    height: 57px;
  }
  .blockTextNum {
    font-size: 20px;
  }
  .blockHappyGirl {
    height: 600px;
    min-height: 300px;
  }
  .blockEnter {
    margin: 60px 36px 60px 36px;
  }
  .blockSecondEnter {
    padding: 10px 10px 10px 10px;
    width: 340px;
  }
  .blockTextEnter {
    width: 340px;
  }
  .blockName {
    width: 320px;
    height: 73px;
  }
  .blockMainEnter {
    height: 47px;
  }
}
